p {
    font-size: 20px;
    font-weight: bold;
}

.curWeather {
    border: 1px solid gray;
    border-radius: 10px;
    width: 160px;
    padding: 10px;
    position: relative;
    display: block;
}

.box {
    display: flex;
    align-items: center;
}

.box span {
    color: darkcyan;
}

.closeBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    border: none;
    background-color: transparent;
    color: black;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline:0;
}
