
<div *ngIf='forecast' class="wrapper">
  <div class='header'>
      <strong>{{forecast.name}} Weather Forecast</strong>
      <p>{{forecast.region}} {{forecast.country}}</p>
  </div>
    <div class='container'>
      <div style='display:flex;'>
          <div class='left'>
               <div>
                  <img src="{{forecast.icon}}">
                  <span> {{forecast.condition}}</span>
              </div>
          </div>
          <div class='right'>
             <p>Wind: {{forecast.wind_kph}} kmph</p>
             <p>Precip: {{forecast.precip_mm}} mm</p>
             <p>Pressure: {{forecast.pressure_mb}} mb</p>
             <p class='temp'>{{forecast.temp_c}} °C</p>
          </div>
      </div>
      <div class='bottom'>
        <div *ngFor='let day of forecast.days'>
            <p>{{day.date}}</p>
            <img src='{{day.icon}}'>
            <p>{{day.temp_c}} °C</p>
        </div>
      </div>
    </div>
  </div>
  